
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
   
  background:#1d1d1d;


}
header{
  border-color: rgb(212, 217, 223);
  border-width: 3px;
  border-style: solid;
    background-color: rgb(37, 37, 37);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 10px;
   margin-top: 8px;

 }
 a{
    
    color: aliceblue;
    text-align: center;
    line-height: 20px;
    display: flex ;
    padding: 10px;
    margin:10px;
    font-family: sans-serif;
    text-decoration: none;
    
 }
 .logo{
    
    font-size: 40px;
    text-transform: uppercase;

 }
 ul {
    
    display: flex;
    list-style: none;
       
 }

 ul a{
    border-bottom: 2px solid transparent;
 }
 ul a:hover{
    border-bottom-color: aliceblue;
 }
 h2{
   color: aliceblue;
   font-family: sans-serif;
   text-transform:capitalize;
    margin: 20px;
  }

  form{
    border-color: rgb(212, 217, 223);
    border-width: 3px;
    border-style: solid;
      background-color: rgb(37, 37, 37);
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-top: 50px;
     margin-top: 10px;
    color: rgb(221, 226, 230);
    padding-bottom: 50px;
  }
  
.amount{
  margin-bottom: 5px;
  margin-left: 10px;
  justify-content: space-between;
  align-items: center;
}

  
}
form p{
  font-size: 18px;
  margin-bottom: 5px;
  margin-left: 10px;
}
form input{
  height: 50px;
  font-size: 17px;
  padding: 0 15px;
  border: 1px solid rgb(253, 249, 249);
}
form input:focus{
  padding: 0 14px;
  border: 2px solid #0083b0;
}
form .drop-list{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.drop-list .select-box{
  display: flex;
  width: 175px;
  height: 45px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  border: 1px solid #999;
}
.select-box img{
  max-width: 21px;
}
.select-box select{
  width: auto;
  font-size: 20px;
  background: none;
  margin: 0 -5px 0 5px;
}
.select-box select::-webkit-scrollbar{
  width: 8px;
}
.select-box select::-webkit-scrollbar-track{
  background: #fff;
}
.select-box select::-webkit-scrollbar-thumb{
  background: #888;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}
.drop-list .icon{
  cursor: pointer;
  margin-top: 30px;
  font-size: 22px;
}
form .exchange-rate{
  border: 1px dotted gray;
  border-radius: 5px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  margin: 20px 0 30px;
}
form button{
  height: 52px;
  color: rgb(255, 255, 255);
  font-size: 17px;
  cursor: pointer;
  background: #00b4db;
  transition: all 0.5s;
  margin-right: 10px;
  border: 1px dotted gray;
  border-radius: 5px;
 
}
form button:hover{
  background: #049bce;

}



.footer .footer-text{
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #024359;
  transition: all 0.5s;
}
.footer .footer-text:hover{
  color: #035c7a;
}
 
   .HHH{
    width: 1200PX;
    height: 400PX;
    background:#00b4db;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 80PX;
    margin-top: 10px;
    margin-bottom: 10PX;
     
   }